.main {
    margin-top: 60px;
}
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
.profileImg {
    display: flex;
}
.profileImg > img {
    height: 300px;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
}
.social {
    margin-top: auto;
}

.social-icon {
    height: 38px;
}

section {
    padding: 20px;
}

.footer {
    padding: 50px;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cards > img {
    width: 60%;
}

@media(min-width: 992px){
    .cards > img {
        width: 100%;
    }
} 

.cards > .subtitle {
    padding: 20px;
}

.experience-item {
    display: flex;
    align-items: center;
    padding: 30px;
}

.experience-item > img {
    width: 200px;
}
