.profileImg {
    display: flex;
}
.profileImg > img {
    height: 300px;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
}
.social {
    margin-top: auto;
}

.social-icon {
    height: 38px;
}

section {
    padding: 20px;
}

.footer {
    padding: 50px;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cards > img {
    width: 100%;
}

.cards > .subtitle {
    padding: 20px;
}