body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #212529;
    margin: 0;
    margin-top: 60px;
}

img {
    border-radius: 5%;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
.profileImg {
    display: flex;
}
.profileImg > img {
    height: 300px;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
}
.social {
    margin-top: auto;
}

.social-icon {
    height: 38px;
    margin-right: 20px;
}
a, a:hover {
    color: #212529;
}

section {
    padding: 20px;
}

.footer {
    padding: 50px;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.cards > img {
    width: 100%;
}

.cards > .subtitle {
    padding: 20px;
}

.experience-item {
    display: flex;
    align-items: center;
    padding: 30px;
}

.experience-item > img {
    width: 200px;
    border-radius: 0px;
}

.repository-container {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.repository-item {
    display: flex;
    padding: 20px;
    min-width: 33%;
}

.repository-data {
    display: flex;
    flex-direction: column;
}

.repository-data > strong {
    margin-top: auto;
}

.repository-item > a> img {
    height: 50px;
    margin-right: 20px;
}

.content-container {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 33%;
}


p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

iframe {
    display: block;
    padding: 20px;
    width: 100%;
    height: 250px;
}

.load-more {
    width: 250px;
    margin-left: auto;
    background-color: rgb(32, 31, 31);
    color: white;
    margin-bottom: 10px;
    padding-top: 0;
	padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.load-more > strong {
    margin: auto;
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}


/* Media Query para telas menores que 992px */
@media(max-width: 992px) {
    h1, h2 {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .repository-container, .content-container  {
        display: flex;
        flex-wrap: wrap;
    }

    .cards > img {
        width: 60%;
    }

    .content-item {
        width: 100%;
    }

    .experience-item > img {
        width: 150px;
        padding: 10px;
    }

    iframe {
        width: 70%;
    }
    
}
